<!-- About Section -->
<section class="page-section" id="about">
    <div class="container relative">

        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            {{ site.t[page.lang].about }}
        </h2>

        <div class="section-text mb-50 mb-sm-20">
            <div class="row">

                <!-- <div class="col-md-4">
                    <blockquote>
                        <p>
                        Design is&nbsp;not making beauty, beauty emerges from selection, affinities, integration, love.
                        </p>
                    </blockquote>
                </div> -->

                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    Somos una empresa que busca acercar la salud a todos los chilenos, representando y distribuyendo marcas de productos naturales, en donde cada uno de los ingredientes sean reconocibles, sanos y llenos de nutrientes.
                </div>

                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    Contamos con una amplia red logística que nos permite abastecer todo el mercado nacional.
                </div>

            </div>
        </div>

    </div>
</section>
<!-- End About Section -->
