<!-- Call Action Section -->
<section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="images/full-width-images/section-bg-2.jpg">
    <div class="container relative">

        <div class="row">

            <div class="col-sm-6">

                <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                    <div class="banner-content">
                        <h3 class="banner-heading font-alt">Looking for exclusive digital services?</h3>
                        <div class="banner-decription">
                            Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.
                            Integer non dapibus diam, ac eleifend lectus.
                        </div>
                        <div class="local-scroll">
                            <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">Lets talk</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 banner-image wow fadeInUp">
                <img src="images/promo-1.png" alt="" />
            </div>

        </div>

    </div>
</section>
<!-- End Call Action Section -->
