<!-- Slider -->
<div class="">
    <div class="fullwidth-slider">
      {% assign posts=site.posts | where:"lang", page.lang %}
        <!-- Slide Item -->
        {% for post in posts %}
        <div class="page-section bg-scroll" style="height: 500px;" data-background="{{ site.baseurl }}/images/portfolio/{{ post.title | slugify }}/01.png">
                <!-- Slide Content -->
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-4 col-md-offset-1">
                        <div class="hs-line-8 no-transp font-alt mt-30">
                            Nuestras marcas
                        </div>
                        <h1 class="hs-line-14 font-alt">
                            {{ post.title }}
                        </h1>
                        <div class="local-scroll">
                            <a href="{{ post.url }}" class="btn btn-mod btn-circle btn-small">Ver marca</a>
                        </div>
                    </div>
                </div>
                <!-- End Slide Content -->
        </div>
        {% endfor %}
        <!-- End Slide Item -->

    </div>
</div>
<!-- End Slider -->
