<!-- Google Map -->
<div class="google-map">

    <div data-address="Belt Parkway, Queens, NY, United States" id="map-canvas"></div>

    <div class="map-section">

        <div class="map-toggle">
            <div class="mt-icon">
                <i class="fa fa-map-marker"></i>
            </div>
            <div class="mt-text font-alt">
                <div class="mt-open">Open the map <i class="fa fa-angle-down"></i></div>
                <div class="mt-close">Close the map <i class="fa fa-angle-up"></i></div>
            </div>
        </div>

    </div>

</div>
<!-- End Google Map -->
