<!-- Newsletter Section -->
<section class="small-section bg-gray-lighter">
    <div class="container relative">

        <form class="form align-center" id="mailchimp">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="newsletter-label font-alt">
                        Stay informed with our newsletter
                    </div>

                    <div class="mb-20">
                        <input placeholder="Enter Your Email" class="newsletter-field form-control input-md round mb-xs-10" type="email" pattern=".{5,100}" required/>

                        <button type="submit" class="btn btn-mod btn-medium btn-round mb-xs-10">
                            Subscribe
                        </button>
                    </div>

                    <div class="form-tip">
                        <i class="fa fa-info-circle"></i> Please trust us, we will never send you spam
                    </div>

                    <div id="subscribe-result"></div>

                </div>
            </div>
        </form>

    </div>
</section>
<!-- End Newsletter Section -->
