            <!-- Head Section -->
            <section class="small-section bg-dark-alfa-50" id="portfolio" data-background="{{ site.baseurl }}images/full-width-images/section-bg-18.jpg">
                <div class="relative container align-left">

                    <div class="row">

                        <div class="col-md-8">
                            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Nuestras marcas</h1>
                            <div class="hs-line-4 font-alt">
                                Estamos en la constante búsqueda de productos de calidad, llenos de sabor, novedosos, saludables y a la vez apto para todo tipo de regímenes especiales.
                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <!-- End Head Section -->


            <!-- Portfolio Section -->
            <section class="page-section">
                <div class="container relative">

                    <!-- Works Filter -->
                    <!-- <div class="works-filter font-alt align-center">
                        <a href="#" class="filter active" data-filter="*">All works</a>
                        <a href="#branding" class="filter" data-filter=".branding">Branding</a>
                        <a href="#design" class="filter" data-filter=".design">Design</a>
                        <a href="#photography" class="filter" data-filter=".photography">Photography</a>
                    </div> -->
                    <!-- End Works Filter -->


            {% assign posts=site.posts | where:"lang", page.lang %}
            <!-- Works Grid -->
            <ul class="works-grid work-grid-5 work-grid-gut clearfix font-alt hover-white" id="work-grid">

                <!-- Work Item (Lightbox) -->
                {% for post in posts %}
                <li class="work-item mix photography">
                    <a href="{{ site.baseurl}}{{ post.url }}" class="mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/{{ post.img }}" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <!-- <h3 class="work-title">{{ post.title }}</h3> -->
                            <div class="work-descr">
                                {{ post.slogan }}
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->
                {% endfor %}
                <!-- End Work Item -->

            </ul>
            <!-- End Works Grid -->

          </div>
      </section>
      <!-- End Portfolio Section -->
