<!DOCTYPE html>
<html>
    {% include head.html %}
    {% if page.lang=='en' %}
      {% include header.html %}
    {% endif %}

    {% if page.lang=='es' %}
      {% include header-es.html %}
    {% endif %}
    <body class="appear-animate">

      {{ content }}

      <!-- JS -->
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.easing.1.3.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/SmoothScroll.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.scrollTo.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.localScroll.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.viewport.mini.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.countTo.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.appear.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.sticky.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.parallax-1.1.3.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.fitvids.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/imagesloaded.pkgd.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.magnific-popup.min.js"></script>
      <!-- Replace test API Key "AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg" with your own one below
      **** You can get API Key here - https://developers.google.com/maps/documentation/javascript/get-api-key -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/gmap3.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/wow.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/masonry.pkgd.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}js/jquery.simple-text-rotator.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/all.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/contact-form.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.ajaxchimp.min.js"></script>
      <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->

  </body>
</html>
