---
layout: default
---
<!-- Page Loader -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->

<!-- Page Wrap -->
<div class="page" id="top">

  {% if page.lang=='en' %}
    {% include hero.html %}
  {% endif %}

  {% if page.lang=='es' %}
    {% include inicio.html %}
  {% endif %}

  {% if page.lang=='en' %}
    {% include portfolio.html %}
  {% endif %}

  {% if page.lang=='es' %}
    {% include portafolio.html %}
  {% endif %}

  {% if page.lang=='en' %}
    {% include map.html %}
  {% endif %}

  {% if page.lang=='es' %}
    {% include mapa.html %}
  {% endif %}

  {% if page.lang=='en' %}
    {% include contact.html %}
  {% endif %}

  {% if page.lang=='es' %}
    {% include contacto.html %}
  {% endif %}

</div>
<!-- End Page Wrap -->
