---
layout: default
---
        <!-- Page Loader -->
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->

        <!-- Page Wrap -->
        <div class="page" id="top">

            <!-- Section -->
            <section class="page-section bg-dark-alfa-70 bg-scroll" data-background="images/full-width-images/section-bg-16.jpg">
                <div class="container relative">

                    <!-- Features Grid -->
                    <div class="item-carousel owl-carousel">

                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <span class=" icon-hotairballoon"></span>
                            </div>
                            <div class="features-title font-alt">
                                We're Creative
                            </div>
                            <div class="features-descr">
                                We find the best ideas for you
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <span class="icon-clock"></span>
                            </div>
                            <div class="features-title font-alt">
                                We’re Punctual
                            </div>
                            <div class="features-descr">
                                We always do your tasks on time
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <span class="icon-lightbulb"></span>
                            </div>
                            <div class="features-title font-alt">
                                We have magic
                            </div>
                            <div class="features-descr">
                                You will be delighted
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <span class="icon-wine"></span>
                            </div>
                            <div class="features-title font-alt">
                                We're Creative
                            </div>
                            <div class="features-descr">
                                We find the best ideas for you
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <span class="icon-tools"></span>
                            </div>
                            <div class="features-title font-alt">
                                We’re Punctual
                            </div>
                            <div class="features-descr">
                                We always do your tasks on time
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <span class="icon-gears"></span>
                            </div>
                            <div class="features-title font-alt">
                                We have magic
                            </div>
                            <div class="features-descr">
                                You will be delighted
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <span class="icon-browser"></span>
                            </div>
                            <div class="features-title font-alt">
                                We're Creative
                            </div>
                            <div class="features-descr">
                                We find the best ideas for you
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <span class="icon-wallet"></span>
                            </div>
                            <div class="features-title font-alt">
                                We’re Punctual
                            </div>
                            <div class="features-descr">
                                We always do your tasks on time
                            </div>
                        </div>
                        <!-- End Features Item -->

                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <span class="icon-document"></span>
                            </div>
                            <div class="features-title font-alt">
                                We have magic
                            </div>
                            <div class="features-descr">
                                You will be delighted
                            </div>
                        </div>
                        <!-- End Features Item -->

                    </div>
                    <!-- Features Grid -->

                </div>
            </section>
            <!-- End Section -->



            {% include about.html %}

            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->


            {% include portfolio.html %}

            {% include contact.html %}

            {% include footer.html %}


        </div>
        <!-- End Page Wrap -->
