---
layout: default
---

      <!-- Head Section -->
      <section class="page-section bg-light-alfa-30 bg-{{ page.color }}">
          <div class="relative container align-left">

              <div class="row">

                  <div class="col-md-8">
                      <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">{{ page.title }}</h1>
                      <div class="hs-line-4 font-alt">
                          {{ page.description }}
                          <br>
                          <a href="{{ page.link }}" target="_blank">Sitio web</a>
                      </div>
                  </div>
              </div>

          </div>
      </section>
      <!-- End Head Section -->

            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                  <div class="brand-logo">
                    <img src="{{ site.baseurl }}/images/portfolio/{{ page.img }}" alt="">
                  </div>
                  {{ content}}

                </div>
            </section>
            <!-- End Section -->


            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->


            <!-- Work Navigation -->
            <div class="work-navigation clearfix">
                <a href="portfolio-single-1.html" class="work-prev"><span><i class="fa fa-chevron-left"></i>&nbsp;Previous</span></a>
                <a href="#" class="work-all"><span><i class="fa fa-times"></i>&nbsp;All works</span></a>
                <a href="portfolio-single-3.html" class="work-next"><span>Next&nbsp;<i class="fa fa-chevron-right"></i></span></a>
            </div>
            <!-- End Work Navigation -->


            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->


            {% include footer.html %}
