---
layout: default
---


            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                  <div class="brand-logo">
                    <img src="{{ site.baseurl }}/images/portfolio/{{ page.img }}" alt="">
                  </div>
                  <div class="text-center slogan">
                    <span class="font-alt slogan-{{ page.color }}">{{ page.slogan }}</span>
                  </div>
                  <!-- Intro Text -->
                  <div class="row mb-70 mb-xs-30">
                      <div class="col-md-8 col-md-offset-2">
                          <div class="section-text align-center mb-70 mb-xs-40">
                             {{ page.description }}
                            <div class="">
                              <a href="{{ page.link }}" class="text-center">{{ page.link}}</a>
                            </div>
                          </div>
                      </div>
                  </div>
                  <!-- End Intro Text -->

                  {{ content}}


                </div>
            </section>
            <!-- End Section -->

            {% include contacto.html %}
